parameters:
    level: 9
    paths:
        - ../../src/
        - ../../examples/
    excludePaths:
        - ../../src/Converter/AbstractConverter.php
        - ../../src/Converter/Php*Converter.php
        - ../../examples/converters/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#^Unreachable statement \\- code above always terminates\\.$#"
            path: ../../src/SarifLog.php
