parameters:
    level: 9
    paths:
        - ../../src/
        - ../../examples/
    excludePaths:
        - ../../src/Factory/SymfonySerializerFactory.php
        - ../../src/Serializer/Encoder/SymfonyJsonEncoder.php
        - ../../examples/builder/message/
        - ../../examples/builder/run.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
