parameters:
    level: 9
    paths:
        - ../../src/
        - ../../examples/
    excludePaths:
        - ../../src/Factory/SymfonySerializerFactory.php
        - ../../src/Serializer/Encoder/SymfonyJsonEncoder.php
        - ../../examples/builder/message/
        - ../../examples/builder/run
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#^Unreachable statement \\- code above always terminates\\.$#"
            path: ../../src/SarifLog.php
    reportUnmatchedIgnoredErrors: true
